  <h3 style="margin: initial; max-width: none";><a href="{{ site.url}}/articles">Articles</a></h3>
  {% for post in site.categories.articles limit:10 %}
    <h5 style="margin-top:0em !important; margin-bottom:.4em !important; margin-left: 1em !important;
    text-indent: -1em !important; line-height:1.1em !important">
        <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
            {{ post.title }}
        </a>
    </h5>
    {% comment %}
        <p>
            {% if post.description %}
                {{ post.description | truncate: 50}}
            {% else %}
                {{ post.content | strip_html | strip_newlines | truncate: 1 }}
            {% endif %}
        </p>
    {% endcomment %}
  {% endfor %}
